@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    cursor: grabbing;
    box-shadow: none !important;
}

.toggle-button .react-toggle-track {
    background-color: white;

}

.toggle-button {
    overflow: visible !important;
}

.react-toggle--checked .react-toggle-track {
    background-color: white !important;
}

.react-toggle-track:hover {
    background-color: white;
}
.toggle-button .react-toggle-thumb {
    background-color: black;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: white !important;
}

.react-toggle--focus .react-toggle-thumb {
    box-shadow: none !important;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    box-shadow: none !important;
}

.featured .slick-slider{
    overflow: visible !important;
}

.PhoneInputInput{
    height: 40px !important;
    border-radius: 0.375rem !important;
    background-color: #faefe1 !important;
    color: #000000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;

}

.ql-snow .ql-picker.ql-header{
    overflow: visible !important;
}

.ql-toolbar.ql-snow .ql-formats{
    overflow: visible !important;
}

.ql-toolbar.ql-snow{
    overflow: visible !important;
}

.ql-editor{
    min-height: 10rem !important;
}